*{margin:0;
padding:0;
box-sizing: border-box;}

body{
    background-color: rgb(59, 82, 91);

}
header{
    background-color: rgb(52, 67, 73);
    height: 120px;
}
input, button{
      display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
   


}
button{
cursor: pointer;
}

h1, h2, h3, h4, p{
    color:rgb(218, 217, 217);
    text-align: center;
    padding-top: 50px;
}
.rules{
    text-align: center;
    line-height: 2rem;
}
ul{
 width:40%;
margin:auto;
list-style-type:none; 
}
ul li{
   color: white;
display:block;
padding:0.4rem;
text-align:left
}

.search{
    margin:auto;
    max-width:300px;
}

